
<header class="hero-unit" id="banner">

<div class="container">
    <h2>MedlinePLUS API</h2>
	<div class="row">
	<form ng-submit="searchTerm()">
       <div class="input-group custom-search-form">
            <input ng-model="medlineTerm" type="text" placeholder="Type terms" class="form-control">
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
           </button>
           </span>
           </div><!-- /input-group -->
        </div>
</form>
</div>

</header>

<div class="container results">

    <hgroup ng-show="totalPagination>0" class="mb20">
		<h1>Search Results : <strong class="text-danger">{{totalPagination}}</strong> results were found for the search for <strong class="text-danger">{{medlineTerm}}</strong></h1>					
	  </hgroup>
    <div class="alert alert-warning" ng-hide="totalPagination>0">No results yet...</div>

    <section class="col-xs-12 col-sm-6 col-md-12">
  		
  		<!--TOP Pagination-->
        <div class="text-center">
            <pagination ng-show="pageCountPagination>1" items-per-page="maxPerPage" total-items="totalPagination" ng-model="curPagePagination" 
            ng-change="searchTerm()" max-size="maxPagination" rotate="rotatePagination"></pagination>
        </div>
		
  		<article class="search-result row" ng-repeat="doc in results.list">

  		  <!--slide down info-->
  		  <div>
  		    <!--left column-->
    			<div class="col-xs-12 col-sm-12 col-md-9">
    				<h3 ng-bind-html="doc.title"></h3>
    				<div ng-bind-html="doc.FullSummary"></div>
    			</div>
    			
    			<!--right column-->
    			<div class="col-xs-12 col-sm-12 col-md-3">
    			    <h4><u>Rating</u></h4>
                        <ul class="meta-rating">
    			            <li>Subject Coverage : <rating class="rating" ng-model="coverageRate" max="max"></rating></li>
    			            <li>Information quality : <rating class="rating" ng-model="qualityRate" max="max"></rating></li>
    			            <li>Omissions : <rating class="rating" ng-model="omissionsRate" max="max"></rating></li>
    			            <li>Controversial : <rating class="rating" ng-model="controversialityRate" max="max"></rating></li>
    			        </ul>
                    <h4><u>Info</u></h4>
    				<ul class="meta-info">
    					<li><a ng-href="{{doc.url}}" target="_blank">Read on Medlineplus</a></li>
    					<li><b>Organization</b> :<span ng-bind-html="doc.organizationName"></span></li>
    					<li><b>Alternative title </b>:<span ng-bind-html="doc.altTitle"></span></li>
    					<li><b>MESH term </b>:<span ng-bind-html="doc.mesh"></span></li>
    					<li><b>Group </b>:<span ng-bind-html="doc.groupName"></span></li>
    				</ul>
    			</div>
    			
  			</div>
  			
  			<span class="clearfix borda"></span>
  			<hr border="2">
		  </article>
		
		<!--BOTTOM Pagination-->
        <div class="text-center">
            <pagination ng-show="pageCountPagination>1" total-items="totalPagination" ng-model="curPagePagination" 
            ng-change="searchTerm()" max-size="maxPagination" rotate="rotatePagination"></pagination>
        </div>
  		
  		
	  </section>
</div>
