
<div class="container">
  <h1>Login</h1>
  <hr>
  <div class="row">
    
    <!--<div class="col-sm-6">-->
    <!--  <a class="btn btn-block btn-facebook" href="" ng-click="loginOauth('facebook')">-->
    <!--    <i class="fa fa-facebook"></i> Login with Facebook-->
    <!--  </a>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--  <a class="btn btn-block btn-google-plus" href="" ng-click="loginOauth('google')">-->
    <!--    <i class="fa fa-google-plus"></i> Login with Google-->
    <!--  </a>-->
    <!--</div>-->
    <!--<div class="col-sm-6">-->
    <!--  <a class="btn btn-block btn-twitter" href="" ng-click="loginOauth('twitter')">-->
    <!--    <i class="fa fa-twitter"></i> Login with Twitter-->
    <!--  </a>-->
    <!--</div>-->
    <div class="col-sm-4 col-sm-offset-4">
      <a class="btn btn-block btn-local-login" href="" ng-click="loginOauth('carre')">
       Login with CARRE
      </a>
    </div>
    
  </div>

    
</div>

