<header class="hero-unit" id="banner">
  <!--<div ng-hide="isLoggedIn()" class="container">-->
  <!--  <h2>CARRE Educational Resources</h2>-->
  <!--  <p><a style="color:white" href="/login">Login</a> to enable rating</p>-->
  <!--</div>-->
  
  <div class="container">
    <p style="height:5px"></p>
    	<form ng-submit="searchQuery()">
    	 <div class="row">
    	    <div class="col-sm-8 col-sm-offset-2">
		        <div class="input-group search-panel row" >
		        
              <div class="input-group-btn">
                  
                <select class="form-control" style="min-width:140px;z-index: inherit;" ng-model="curSource"
                    ng-options="opt as opt.label for opt in docSources" ng-change="onComplete()">
                </select>
              </div>
              
                <input type="text" ng-model="queryTerm" style="z-index: inherit;" uib-typeahead="term.name for term in riskElements| filter:$viewValue | limitTo:8" 
                class="form-control" typeahead-editable="true" typeahead-focus-first="false"
                typeahead-on-select="onComplete($item, $model, $label)">
                
                <span class="input-group-btn" style="z-index: 0;">
                  <button class="btn btn-default" ng-click="searchQuery()" type="submit">
                  <span class="glyphicon glyphicon-search"></span>
                  </button>
                </span>
                
            </div>

          </div>
        </div>
        <!--<div class="row">-->
     	  <!--  <div class="col-sm-8 col-sm-offset-2">-->
        <!--    <h4 ng-show="total>0" class="text-left"><strong class="text-danger">{{total}}</strong> results</h4>-->
        <!--    <div class="text-right"></div>-->
        <!--  </div>-->
        <!--</div>-->
      </form>
    </div>
</header>



<!--Wikipedia typeahead-->
<!--<input style="z-index: inherit;" type="text" ng-model="queryTerm" placeholder="Type terms" typeahead="term for term in getSuggestions($viewValue)" typeahead-loading="loading" class="form-control" typeahead-on-select="onComplete($label)">-->


<div class="results">
  
  <div class="col-md-10 col-md-offset-1 col-sm-12">
  
    <div class="row">
      <!--top pagination-->
      <div class="col-sm-8 pull-right">
        <uib-pagination ng-show="total>itemsPerPage" items-per-page="itemsPerPage" 
              style="z-index: inherit; float:right; margin:auto;" total-items="total" ng-model="currentPage" 
              ng-change="searchQuery(true)" max-size="3" rotate="false"></uib-pagination>
      </div>
      
      <div class="col-sm-4 pull-left">
        <!--total results-->
        <h3 ng-show="total>0"><strong class="text-danger">{{total}}</strong> {{'total_results'|translate}}</h3>
      </div>
    </div>
  
          
    <div class="row">
      <div class="col-xs-12">
      <!-- Suggestions -->
      <!--<div ng-show="suggestion">-->
      <!--    <h4>Did you mean <a href="" ng-click="suggest(suggestion)">{{suggestion}}</a>?</h4>-->
      <!--    <hr>-->
      <!--</div>-->
  
      <!-- no results -->
      <div class="alert alert-warning" ng-hide="total>0||results.length>0">{{'no_results'|translate}}</div>
      
      <div class="list-group">
        <a href="" ng-click="toggleArticle($index)" class="list-group-item" ng-repeat="doc in results track by $index">
            
            <h4 class="list-group-item-heading">{{doc.title|strip}} <span class="label label-info">{{doc.avgRating|number:1 }}</span></h4>
            <p class="list-group-item-text" ng-bind-html="doc.snippet"></p>
        </a>
      </div>
      
      </div>
    </div
    
  </div>

</div>


<!--ARTICLE PREVIEW-->

    <div class="overlay overlay-door" ng-class="{'open':showArticle}">
        <div class="preview-container">
            <div class="clearfix row preview-status">
              
              <div class="col-sm-6">
                <button type="button" ng-click="toggleArticle(-1)" class="overlay overlay-close carre-btn">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span> <span>{{'back_button'|translate}}</span>
                </button>
              </div>

              <div class="col-sm-6">
                <button ng-show="isLoggedIn()" type="button" ng-click="isCollapsed=!isCollapsed" ng-class="{'active':isCollapsed}"class="overlay overlay-edit carre-btn">
                    <span>{{'rating_button'|translate}}</span> <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
              
            </div>
            
            <div class="clearfix row rating-container" uib-collapse="!isCollapsed">
              
              <div class="col-xs-12 col-sm-12 col-md-12">
                <!--<div class="panel panel-default">-->
                <!--  <div class="panel-heading">-->
                <!--    <h3 class="panel-title">Extra Information</h3>-->
                <!--  </div>-->
                <!--  <div class="panel-body">-->
                <!--    <h4>Coming soon!</h4>-->
                <!--  </div>-->
                <!--</div>-->
              </div>
              
              <div class="col-xs-12 col-sm-12 col-md-12">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">{{'rating_title'|translate}}</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      
                      <div class="col-sm-4" ng-repeat="rate in rating track by $index">
                        
                        {{rate.rdftype|translate}} :  <uib-rating class="rating" ng-model="doc.rating[$index].value" max="5"></uib-rating>
                        
                      </div>
                            
                    </div>
                  </div>
                </div>
                
              </div>
                
                
            </div>
            
        </div>
        <div style="position:relative; width:auto; height:auto; margin:auto; top:100px;" ng-hide="doc.iframe||!showArticle" class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>
        <div style="height:100%;left:7px" class="embed-responsive embed-responsive-4by3" ng-bind-html="doc.iframe"></div>
    </div>
