.thing-form {
    margin: 20px 0;
}

#banner {
    border-bottom: none;
    margin-top: -20px;
}

#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px 20px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}

.rating{
    cursor: pointer;
    font-size:1.1em;
}
.meta-rating{
    min-width:230px;
    list-style: none;
    padding:10px;
    border-radius: 10px;
    background-color:#F8F8F8;
}
.meta-info{
    list-style: none;
    padding:10px;
    border-radius: 10px;
    background-color:#F8F8F8;
}
.pagination > li.active > a{
    z-index:inherit;
}

.navbar.navbar-default.navbar-static-top{
    z-index: inherit;
}


/**** Highlighting search terms ****/
.qt1, .qt2, .qt3,.searchmatch {
	color: #4393B9;
}



/****    PREVIEW OVERLAY WINDOW     *****/

.carre-btn {
	color: #aaaaaa;
	cursor:pointer;
	font-size:2em;
}
.carre-btn:hover{
	color:#4393B9;
}
.carre-btn.active{
	color:#4393B9;
}

.preview-container{
	height:auto;
	min-height:50px;
	margin-bottom:0; 
	padding:0; 
	width:100%;
}
.preview-status{
	top:10px;
	position:relative;
}
.row.rating-container{
	padding:10px;
	margin-left:40px;
	margin-right:40px;
}
.row.rating-container>div>.panel{
	margin:5px;
}

/* Overlay style */
.overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgb(248, 248, 248);
}


/* Overlay closing cross */
.overlay .overlay-close {
	width: auto;
	height:auto;
	visibility: visible;
	top:10px;
	left: 15px;
	overflow: hidden;
	border: none;
	background-color: transparent;
	/*text-indent: 200%;*/
	outline: none;
	z-index: 1100;
}

/* Overlay closing cross */
.overlay .overlay-edit {
	width: auto;
	height:auto;
	visibility: visible;
	top:10px;
	right: 15px;
	overflow: hidden;
	border: none;
	background-color: transparent;
	/*text-indent: 200%;*/
	outline: none;
	z-index: 1100;
}


/* Effects */
.overlay-door {
	visibility: hidden;
	width: 0;
	left: 50%;
	-webkit-transform: translateX(-50%);
	transform: translateX(-50%);
	-webkit-transition: width 0.5s 0.3s, visibility 0s 0.8s;
	transition: width 0.5s 0.3s, visibility 0s 0.8s;
}

.overlay-door.open {
	visibility: visible;
	width: 100%;
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
}


.overlay-door .overlay-close {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open .overlay-close{
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close .overlay-close{
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}

.overlay-door .overlay-edit {
	opacity: 0;
	-webkit-transition: opacity 0.3s 0.5s;
	transition: opacity 0.3s 0.5s;
}

.overlay-door.open .overlay-edit{
	opacity: 1;
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}

.overlay-door.close .overlay-edit{
	opacity: 0;
	-webkit-transition-delay: 0s;
	transition-delay: 0s;
}
@media screen and (max-height: 30.5em) {
    
}
.overlay-door.close {
	opacity:1;
}