<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">

  <!--<div class="container">-->
  <!--    <div class="row">    -->
  <!--        <div class="col-xs-8 col-xs-offset-2">-->
  <!--		    <div class="input-group">-->
  <!--                <div class="input-group-btn search-panel">-->
  <!--                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">-->
  <!--                    	<span id="search_concept">Filter by</span> <span class="caret"></span>-->
  <!--                    </button>-->
  <!--                    <ul class="dropdown-menu" role="menu">-->
  <!--                      <li><a href="#contains">Contains</a></li>-->
  <!--                      <li><a href="#its_equal">It's equal</a></li>-->
  <!--                      <li><a href="#greather_than">Greather than ></a></li>-->
  <!--                      <li><a href="#less_than">Less than < </a></li>-->
  <!--                      <li class="divider"></li>-->
  <!--                      <li><a href="#all">Anything</a></li>-->
  <!--                    </ul>-->
  <!--                </div>-->
  <!--                <input type="text" ng-model="medlineTerm" placeholder="Type terms">         -->
                      <!--<input type="text" ng-model="medlineTerm" placeholder="Locations loaded via $http" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingLocations" class="form-control">-->
  <!--                <span class="input-group-btn">-->
  <!--                    <button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>-->
  <!--                </span>-->
                      <!--<i ng-show="loadingLocations" class="glyphicon glyphicon-refresh"></i>-->
  <!--            </div>-->
  <!--        </div>-->
  <!--	</div>-->
  <!--</div>-->

<div class="container">
    <h2>DBpedia Diseases</h2>
	<div class="row">
	<form ng-submit="searchTerm()">
       <div class="input-group custom-search-form">
            <input ng-model="queryTerm" type="text" placeholder="Type terms" class="form-control">
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
           </button>
           </span>
           </div><!-- /input-group -->
        </div>
</form>
</div>

</header>

<div class="container results">
<hgroup ng-show="total>0" class="mb20">
		<h1>Search Results : <strong class="text-danger">{{total}}</strong> results were found for the search for <strong class="text-danger">{{queryTerm}}</strong></h1>					
	  </hgroup>
    <div class="alert alert-warning" ng-hide="total>0">No results yet...</div>
    <section class="col-xs-12 col-sm-6 col-md-12">
        
        <!--TOP Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" total-items="total" ng-model="currentPage" 
            ng-change="searchTerm()" max-size="itemsPerPage" rotate="true"></pagination>
        </div>
		
  		<article class="search-result row" ng-repeat="doc in filteredResults">

  		  <!--slide down info-->
  		  <div>
  	        <!--left column-->
			<div class="col-xs-12 col-sm-4 col-md-2">
			    <div ng-show="doc.thumbnail" class="thumbnail"><img ng-src="{{doc.thumbnail.value}}"></div>
			    <div ng-hide="doc.thumbnail" class="thumbnail"><img src="http://www.solid-run.com/wiki/images/7/75/No_image_available.png"></div>
			</div>
  	        <!--middle column-->
			<div class="col-xs-12 col-sm-8 col-md-7">
				<h3 ng-bind-html="doc.label.value"></h3>
				
				<div ng-bind-html="doc.abstract.value"></div>
			</div>
			
			<!--right column-->
			<div class="col-xs-12 col-sm-12 col-md-3">
                <h4>Info</h4>
                <div class="well-sm">
                    <li ng-show="doc.icd10.value">ICD-10: {{doc.icd10.value}}</li>
                    <li ng-show="doc.meshid.value">MESH: {{doc.meshid.value}}</li>
                    <li ng-show="doc.wordnet.value"><a target="_blank" ng-href="{{doc.wordnet.value}}">WordNet</a></li>
                    <li ng-show="doc.medlineplus.value"><a target="_blank" ng-href="http://www.nlm.nih.gov/medlineplus/ency/article/000913{{doc.medlineplus.value}}.htm">MedlinePLUS</a></li>
                    <li ng-show="doc.u.value"><a target="_blank" ng-href="{{doc.u.value}}">DBpedia</a></li>
                    <li ng-show="doc.wikilink.value"><a target="_blank" ng-href="{{doc.wikilink.value}}">WikiPedia</a></li>
                </div>
			</div>
  		</div>
  			
  			<span class="clearfix borda"></span>
  			<hr border="2">
		  </article>
		  
        <!--BOTTOM Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" total-items="total" ng-model="currentPage" 
            ng-change="searchTerm()" max-size="itemsPerPage" rotate="true"></pagination>
        </div>
  		
	  </section>
	  
	
</div>

<div ng-include="'components/footer/footer.html'"></div>
