/*
 * override the default CSS as an example
 */

/*loading bar*/
#loading-bar .bar{
  display: none;
  /*height:2px;*/
  /*background-color:#FFFFFF;*/
  /*top:50px;*/
}
#loading-bar-spinner .spinner-icon {
  border-top-color:  #FFFFFF;
  border-left-color: #FFFFFF;
  position: fixed;
  /*top:56px;*/
  width: 24px;
  height: 24px;

  border:  solid 2px transparent;
  border-top-color:  #dd0000 /*#18BC9C*/;
  border-left-color: #dd0000 /*#18BC9C*/;
  border-radius: 50%;

  -webkit-animation: loading-bar-spinner 400ms linear infinite;
  -moz-animation:    loading-bar-spinner 400ms linear infinite;
  -ms-animation:     loading-bar-spinner 400ms linear infinite;
  -o-animation:      loading-bar-spinner 400ms linear infinite;
  animation:         loading-bar-spinner 400ms linear infinite;
}
#loading-bar .peg {
  -moz-box-shadow: #FFFFFF 1px 0 6px 1px;
  -ms-box-shadow: #FFFFFF 1px 0 6px 1px;
  -webkit-box-shadow: #FFFFFF 1px 0 6px 1px;
  box-shadow: #FFFFFF 1px 0 6px 1px;
}
