<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">

    <div class="container">
    <div class="row">
        <form ng-submit="searchTerm()">
            <h2>Bioportal explorer</h2>
            <div class="row">
                <div class="col-md-6">
                    <h4>Search terms</h4>
                    <div class="input-group" style="float: left;margin-bottom:10px;">
                        <input  ng-disabled="!ontology.selected" ng-model="queryTerm" type="text" placeholder="Type terms" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                        </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <h4>Ontologies</h4>
                  <ui-select multiple ng-model="ontology.selected" theme="bootstrap" reset-search-input="true" on-select="selectedAcronyms()">
                    <ui-select-match placeholder="Select an ontology from the list..">{{$item.acronym}}</ui-select-match>
                    <ui-select-choices repeat="ontology in ontologies | propsFilter: {name: $select.search, acronym: $select.search} | limitTo:40">
                      <div ng-bind-html="ontology.name | highlight: $select.search"></div>
                    </ui-select-choices>
                  </ui-select>
                </div>
            </div>
            
        </form>
        
    </div>
    </div>

</header>

<div class="container results">

    <hgroup ng-show="total>0" class="mb20">
		<h1>Search Results : <strong class="text-danger">{{total}}</strong> results were found for the search for <strong class="text-danger">{{queryTerm}}</strong></h1>					
	  </hgroup>
    <div class="alert alert-warning" ng-hide="total>0">No results...</div>
    <section class="col-xs-12 col-sm-6 col-md-12">
        
        <!--TOP Pagination-->
        <div class="text-center">
            <pagination ng-show="results.pageCount>1" total-items="total" ng-model="results.page" 
            ng-change="searchTerm()" max-size="5" rotate="false"></pagination>
        </div>
		
  		<article class="search-result row" ng-repeat="doc in results.collection">

  		  <!--slide down info-->
  		  <div>
  	        <!--left column-->
			<div class="col-xs-12 col-sm-12 col-md-9">
				<h3 ng-bind-html="doc.prefLabel"></h3>
				
				<div ng-bind-html="doc.definition[0]"></div>
			</div>
			
			<!--right column-->
			<div class="col-xs-12 col-sm-12 col-md-3">
			    <h4 ng-show="doc.cui">UMLS : {{doc.cui[0]}}</h4>
			    <h4><a target="_blank" ng-href="{{ doc['@id'] }}">{{ doc.links.ontology.substr(doc.links.ontology.lastIndexOf('/')+1) }}</a></h4>
			    <h4 ng-show="doc.synonym.length>0">Synonyms</h4>
				<ul class="meta-search">
					<li ng-repeat="s in doc.synonym">{{s}}</li>
				</ul>
			</div>
  		</div>
  			
  			<span class="clearfix borda"></span>
  			<hr border="2">
		  </article>
		  
        <!--BOTTOM Pagination-->
        <div class="text-center">
            <pagination ng-show="results.pageCount>1" total-items="total" ng-model="results.page" 
            ng-change="searchTerm()" max-size="5" rotate="false"></pagination>
        </div>
  		
	  </section>
</div>

<div ng-include="'components/footer/footer.html'"></div>
