
<header class="hero-unit" id="banner">


    <div class="container">
        <h2>Wikipedia Diseases</h2>
        <div class="row">
            <form ng-submit="searchTerm()">
                <div class="input-group custom-search-form">
                    <input style="z-index: inherit;" type="text" ng-model="queryTerm" placeholder="Type terms" typeahead="term for term in getSuggestions($viewValue)" typeahead-loading="loading" class="form-control" typeahead-on-select="onComplete($label)">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /input-group -->
        </div>
        </form>
    </div>

</header>

<!--<div ng-show="showArticle" class="panel panel-default">-->
<!--    <div class="panel-heading">-->
<!--        <h3 class="panel-title"><a href="/wikipedia">Go Back</a> {{doc.title}}</h3>-->
<!--    </div>-->
<!--    <div ng-show="!doc.fetched" class="spinner">-->
<!--        <div class="bounce1"></div>-->
<!--        <div class="bounce2"></div>-->
<!--        <div class="bounce3"></div>-->
<!--    </div>-->
<!--    <div class="panel-body" ng-bind-html="doc.fetched">-->
<!--    </div>-->
<!--</div>-->

<div class="container results">
    <hgroup ng-show="total>0" class="mb20">
        <h1>Search Results : <strong class="text-danger">{{total}}</strong> results were found for the search for <strong class="text-danger">{{queryTerm}}</strong></h1>
    </hgroup>

    <!-- Suggestions -->
    <div ng-show="suggestion">
        <h4>Did you mean <a href="" ng-click="suggest(suggestion)">{{suggestion}}</a>?</h4>
        <hr>
    </div>

    <!-- no results -->
    <div class="alert alert-warning" ng-hide="total>0">No results yet...</div>

    <section class="col-xs-12 col-sm-6 col-md-12">

        <!--TOP Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" style="z-index: inherit;" total-items="total" ng-model="currentPage" ng-change="searchTerm(true)" max-size="5" rotate="false"></pagination>
        </div>



        <div class="list-group">

            <a href="" ng-click="toggleArticle($index)" class="list-group-item" ng-repeat="doc in results track by $index">
                <h4 class="list-group-item-heading" ng-bind-html="doc.title"></h4>
                <p class="list-group-item-text" ng-bind-html="doc.snippet"></p>
            </a>


        </div>




        <!--BOTTOM Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" total-items="total" ng-model="currentPage" ng-change="searchTerm(true)" max-size="5" rotate="false"></pagination>
        </div>

    </section>


</div>

    <div class="overlay overlay-door" ng-class="{'open':showArticle,'close':!showArticle}">
        <div class="well" style="height:auto; margin-bottom:0; width:100%;">
            <button type="button" ng-click="toggleArticle()" class="overlay overlay-close carre-btn">
                <span class="glyphicon glyphicon-circle-arrow-left"></span>
            </button>
            <a ng-click="isCollapsed=!isCollapsed" class="overlay overlay-edit carre-btn">
                <span class="glyphicon glyphicon-edit"></span>
            </a>
            <div collapse="!isCollapsed">
                
                <div class="panel panel-default bootcards-summary">
                  <div class="panel-heading">
                    <h3 class="panel-title">Summary Card Heading</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-xs-6 col-sm-4">
                        <a class="bootcards-summary-item" href="#">
                          <i class="fa fa-3x fa-users"></i>
                          <h4>Contacts <span class="label label-info">432</span></h4>
                        </a>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <a class="bootcards-summary-item" href="#">
                          <i class="fa fa-3x fa-building-o"></i>
                          <h4>Companies <span class="label label-info">98</span></h4>
                        </a>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <a class="bootcards-summary-item" href="#">
                          <i class="fa fa-3x fa-clipboard"></i>
                          <h4>Notes <span class="label label-danger">54</span></h4>
                        </a>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <a class="bootcards-summary-item" href="#">
                          <i class="fa fa-3x fa-files-o"></i>
                          <h4>Files <span class="label label-info">65</span></h4>
                        </a>
                      </div>
                      <div class="col-xs-6 col-sm-4">
                        <a class="bootcards-summary-item" href="#">
                          <i class="fa fa-3x fa-check-square-o"></i>
                          <h4>Tasks <span class="label label-warning">109</span></h4>
                        </a>
                      </div>      
                    </div>
                  </div>
                  <div class="panel-footer">
                    <small>Built with Bootcards - Summary Card</small>
                  </div>
                </div>
                
            </div>
            
        </div>
        <div style="height:100%" class="embed-responsive embed-responsive-4by3" ng-bind-html="doc.iframe"></div>
    </div>
