<div ng-include="'components/navbar/navbar.html'"></div>

<header ui-scrollfix="+200" class="hero-unit" id="banner">


<div class="container">
    <h2>Wikipedia Diseases</h2>
	<div class="row">
	<form ng-submit="searchTerm()">
       <div class="input-group custom-search-form">
           <input type="text" ng-model="queryTerm" placeholder="Type terms" typeahead="term for term in getSuggestions($viewValue)" 
           typeahead-loading="loading" class="form-control" typeahead-on-select="onComplete($label)">
            <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
           </button>
           </span>
           </div><!-- /input-group -->
        </div>
</form>
</div>

</header>

<div class="container results">
<hgroup ng-show="total>0" class="mb20">
		<h1>Search Results : <strong class="text-danger">{{total}}</strong> results were found for the search for <strong class="text-danger">{{queryTerm}}</strong></h1>					
	  </hgroup>
	  
	<!-- Suggestions -->
	<div ng-show="suggestion">
        <h4>Did you mean <a href="" ng-click="suggest(suggestion)">{{suggestion}}</a>?</h4>
        <hr>
    </div>
    
    <!-- no results -->
    <div class="alert alert-warning" ng-hide="total>0">No results...</div>

    <section class="col-xs-12 col-sm-6 col-md-12">
        
        <!--TOP Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" total-items="total" ng-model="currentPage" 
            ng-change="searchTerm(true)" max-size="5" rotate="false"></pagination>
        </div>
		
  		<article class="search-result row" ng-repeat="doc in results track by $index">

      		<div class="row">
      		    
    			<div class="page-header">
    			    <h3>
    			        {{doc.title}}
        			        <button ng-click="toggleArticle($index)" type="button" 
        			        class="btn btn-sm btn-default" ng-class="{'active':doc.show}">Details</button>
        			    </a>
    			    </h3>
    			    
    			    <!--loading-->
    			    <div ng-show="doc.loading" class="spinner">
                      <div class="bounce1"></div>
                      <div class="bounce2"></div>
                      <div class="bounce3"></div>
                    </div>
                    
    			</div>
    			<div class="container">
    			    <div ng-hide="doc.show" ng-bind-html="doc.snippet"></div>
    			</div>
    		
    		</div>
    		
      		<!--slide down info-->
      		<div class="row" collapse="!doc.show">
      		    
                <!--loaded html-->
          	    <div class="well article" ng-bind-html="doc.fetched"></div>
    		</div>
  			
  			<span class="clearfix borda"></span>
  			<hr border="2">
		  </article>
		  
        <!--BOTTOM Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" total-items="total" ng-model="currentPage" 
            ng-change="searchTerm(true)" max-size="5" rotate="false"></pagination>
        </div>
  		
	  </section>
	  
	
</div>

<div ng-include="'components/footer/footer.html'"></div>
