
<header class="hero-unit" id="banner">


    <div class="container">
        <h2>Wikipedia Diseases</h2>
        <div class="row">
            <form ng-submit="searchTerm()">
                <div class="input-group custom-search-form">
                    <input style="z-index: inherit;" type="text" ng-model="queryTerm" placeholder="Type terms" typeahead="term for term in getSuggestions($viewValue)" typeahead-loading="loading" class="form-control" typeahead-on-select="onComplete($label)">
                    <span class="input-group-btn">
            <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search"></span>
                    </button>
                    </span>
                </div>
                <!-- /input-group -->
        </div>
        </form>
    </div>

</header>

<div class="container results">
    <hgroup ng-show="total>0" class="mb20">
        <h1>Search Results : <strong class="text-danger">{{total}}</strong> results were found for the search for <strong class="text-danger">{{queryTerm}}</strong></h1>
    </hgroup>

    <!-- Suggestions -->
    <div ng-show="suggestion">
        <h4>Did you mean <a href="" ng-click="suggest(suggestion)">{{suggestion}}</a>?</h4>
        <hr>
    </div>

    <!-- no results -->
    <div class="alert alert-warning" ng-hide="total>0">No results yet...</div>

    <section class="col-xs-12 col-sm-6 col-md-12">

        <!--TOP Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" items-per-page="itemsPerPage" style="z-index: inherit;" total-items="total" ng-model="currentPage" ng-change="searchTerm(true)" max-size="5" rotate="false"></pagination>
        </div>



        <div class="list-group">

            <a href="" ng-click="toggleArticle($index)" class="list-group-item" ng-repeat="doc in results track by $index">
                <h4 class="list-group-item-heading" ng-bind-html="doc.title"></h4>
                <p class="list-group-item-text" ng-bind-html="doc.snippet"></p>
            </a>


        </div>




        <!--BOTTOM Pagination-->
        <div class="text-center">
            <pagination ng-show="total>itemsPerPage" items-per-page="itemsPerPage" total-items="total" ng-model="currentPage" ng-change="searchTerm(true)" max-size="5" rotate="false"></pagination>
        </div>

    </section>


</div>

    <div class="overlay overlay-door" ng-class="{'open':showArticle}">
        <div class="well preview-container">
            <div class="clearfix row preview-status">
              <div class="col-sm-3">
                <button type="button" ng-click="toggleArticle(-1)" class="overlay overlay-close carre-btn">
                    <span class="glyphicon glyphicon-circle-arrow-left"></span>
                </button>
              </div>
              <div class="col-sm-3">
                You searched for :
                <span class="label label-primary" ng-bind="queryTerm"></span>
              </div>
              <div class="col-sm-3">
                {{doc.title}}
              </div>
              <div class="col-sm-3">
                <button type="button" ng-click="isCollapsed=!isCollapsed" ng-class="{'active':isCollapsed}"class="overlay overlay-edit carre-btn">
                    <span class="glyphicon glyphicon-edit"></span>
                </button>
              </div>
            </div>
            <div class="clearfix row rating-container" collapse="!isCollapsed">
              
              <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Extra Information</h3>
                  </div>
                  <div class="panel-body">
                    <h4>Coming soon!</h4>
                  </div>
                </div>
              </div>
              <div class="col-xs-12 col-sm-12 col-md-8">

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">Article Rating</h3>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      
                      <div class="col-sm-4" ng-repeat="rate in rating track by $index">
                        
                        {{rate.name}} :  <rating class="rating" ng-model="doc.rating[$index].value" max="5"></rating>
                        
                      </div>
                            
                    </div>
                  </div>
                </div>
                
              </div>
                
                
            </div>
            
        </div>
        <div style="height:100%" class="embed-responsive embed-responsive-4by3" ng-bind-html="doc.iframe">
          <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
          </div>
        </div>
    </div>
